.container {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(170, 170, 170, 0.5);
  z-index: 8;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 37px;
  max-height: calc(100vh - 37px - 50px);
  overflow: auto;
  transition: background-color 0.5s;
}

.container.dark {
  background-color: #333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.container.collapsed {
  max-height: 0;
  overflow: hidden;
}

.column {
  width: 50%;
  float: left;
}

@media only screen and (max-width: 640px) {
  .column {
    width: 100%;
  }
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.dark .title {
  color: #e6e6e6;
}

.columnWrapper {
  margin: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
}
