.wrapper {
  display: inline-block;
  position: relative;
}

.btn {
  width: 31px;
  height: 31px;
  margin: 3px 3px;
  margin-left: 0;
  background-color: unset;
  border: 0;
  color: #505050;
  border-radius: 2px;
}

.label {
  position: absolute;
  top: 37px;
  background-color: #303030;
  color: #fff;
  border-radius: 2px;
  padding: 3px 10px;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  white-space: nowrap;
}

.btn.light {
  color: #fff;
}

.btn:hover + .label {
  opacity: 1;
}
