.clipboardBtn {
  background-color: #2196f3;
  border: 0;
  color: #fff;
  border-radius: 2px;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  width: 100%;
  transition: 0.5s;
  flex-shrink: 0;
}

.clipboardBtn:hover {
  background-color: #1f88dd;
}

.clipboardBtn.invalid {
  background-color: #f44336;
  cursor: not-allowed;
}

.clipboardBtn i {
  margin-right: 10px;
}
