.container {
  border: 1px #e9e9e9 solid;
  background-color: #fcfcfc;
  overflow: auto;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.or {
  font-size: 25px;
  margin: 10px 0;
}

.clipboardBtn {
  background-color: #2196f3;
  border: 0;
  color: #fff;
  border-radius: 2px;
  font-size: 20px;
  padding: 10px 20px;
  transition: 0.5s;
}

.clipboardBtn:hover {
  background-color: #1f88dd;
}

.clipboardBtn.invalid {
  background-color: #f44336;
  cursor: not-allowed;
}

.clipboardBtn i {
  margin-right: 10px;
}
