.header {
  background-color: #2196f3;
  height: 50px;
}

.logo {
  height: 30px;
  padding: 10px 8px 10px 12px;
  background-color: #1976d2;
  float: left;
}

.ghLogo {
  float: right;
  height: 30px;
  padding: 10px;
  background-color: #1e88e5;
  transition: 0.5s;
}

.ghLogo:hover {
  background-color: rgb(28, 129, 218);
}

.title {
  float: left;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
  font-weight: bold;
}
