.header {
  background-color: #2196f3;
  height: 50px;
  position: relative;
  transition: 0.5s;
  z-index: 20;
}

.header.dark {
  background-color: #151515;
}

.logo {
  height: 30px;
  padding: 10px 8px 10px 12px;
  background-color: #1976d2;
  float: left;
  transition: 0.5s;
}

.dark .logo {
  background-color: #2d3034;
  color: #e6e6e6;
}

.ghLogo {
  float: right;
  height: 30px;
  padding: 10px;
  background-color: #1e88e5;
  transition: 0.5s;
}

.dark .ghLogo {
  background-color: #2d3034;
  color: #e6e6e6;
}

.ghLogo:hover {
  background-color: rgb(28, 129, 218);
}

.dark .ghLogo:hover {
  background-color: rgb(0, 0, 0);
  color: #e6e6e6;
}

.title {
  float: left;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
  font-weight: bold;
}

.dark .title {
  color: #e6e6e6;
}
