.flexWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  background-color: #fff;
  width: 100%;
  max-width: 1000px;
  margin: 20px 10px 0 10px;
  color: #333;
}

.title {
  font-size: 20px;
  padding: 10px 15px;
  font-weight: bold;
}

.title.border {
  border-bottom: rgb(216, 216, 216) 1px solid;
}

.body {
  padding: 5px 15px;
}

.progressBg {
  width: 100%;
  height: 3px;
  background-color: #f44336;
}

.progress {
  height: 100%;
  background-color: #8bc34a;
  transition: 0.5s;
}
